<header>
  <hgroup>
    <h1><span>EM RubyConf</span></h1>
    <h2><span>Concurrently with <a href="http://RailsConf.com">RailsConf</a></span></h2>
    <h3><span>In Baltimore, MD</span></span></h3>
    <h4><span>On <time>Thursday May 19, 2011</time></span></h4>
    <h5><span>In <%= link_to "BohConf", "http://bohconf.com", :title => "BohConf | The Official Unconf of RailsConf" %></span></h5>
  </hgroup>

  <section id="intro">
    <blockquote>
      <p>
        <b>I don't know how this Event Machine business works.</b>
        What is
        <%= link_to "em-synchrony", "https://github.com/igrigorik/em-synchrony" %> and
        <%= link_to "sinatra-synchrony", "https://github.com/kyledrake/sinatra-synchrony" %>?
        Or do I use threads?
        Do I need to write my code differently?
        Can I use Rails?
        Seriously, why do I not even know any of this yet?
     </p>

      <p>I know, let's have <b>EM Ruby Conf</b>!</p>
    </blockquote>

    <h6><span>Bring a friend. They know nothing either.</span></h6>

    <a href="http://lanyrd.com/2011/emrubyconf" id="lanyrd">Are you going? Tell us on <b>Lanyrd</b>.com.</a>
  </section>
</header>

<article>
  <section id="speakers">
    <h1><span>Speakers</span></h1>

    <p>
      15 minute talks <i>from</i> <time>12:30</time> <i>to</i> <time>3:00pm</time>
   </p>

    <ul>
      <li id="basic-concurrency">
        <h2><span>Lessons in Concurrency: Threading vs Evented</span></h2>
        <h3><span>Interested? <%= mail_to "drnic+emrubyconf@engineyard.com", "Email Dr Nic" %></span></h3>
      </li>

      <li id="aman-gupta">
        <h2><span>Introduction to EventMachine</span></h2>
        <h3><span>Aman Gupta</span></h3>
        <%= image_tag "http://a3.twimg.com/profile_images/1240786636/Photo_on_2011-02-10_at_00.33_reasonably_small.jpg" %>
        <p><%= link_to "http://github.com/tmm1", "http://github.com/tmm1", :rel => "external",:class => "url" %></p>
        <p><%= link_to "@tmm1", "http://twitter.com/tmm1", :rel => "external",:class => "url" %></p>
      </li>

      <li id="nick-quaranto">
        <h2><span>EventMachinehine and Testing</span></h2>
        <h3><span>Nick Quaranto</span></h3>
        <%= image_tag "http://a3.twimg.com/profile_images/1258823799/-_-_reasonably_small.png" %>
        <p><%= link_to "@qrush", "http://twitter.com/qrush", :rel => "external",:class => "url" %></p>
      </li>

      <li id="mike-perham">
        <h2><span>Threads, Fibers, Events and Actors in Ruby</span></h2>
        <h3><span>Mike Perham</span></h3>
        <%= image_tag "https://si3.twimg.com/profile_images/1177700671/headshot_reasonably_small.jpg" %>
        <p><%= link_to "http://www.mikeperham.com/", "http://www.mikeperham.com/", :rel => "external",:class => "url" %></p>
        <p><%= link_to "@mperham", "http://twitter.com/mperham", :rel => "external",:class => "url" %></p>
      </li>

      <li id="nick-seiger">
        <h2><span>JRuby Concurrency</span></h2>
        <h3><span>Nick Sieger</span></h3>
        <%= image_tag "http://a2.twimg.com/profile_images/77367265/nick-square_reasonably_small.jpg" %>
        <p><%= link_to "http://nicksieger.com", "http://nicksieger.com", :class => "url" %></p>
        <p><%= link_to "@nicksieger", "http://twitter.com/nicksieger", :class => "url" %></p>
      </li>

      <li id="brian-ford">
        <h2><span>Rubinius Concurrency</span></h2>
        <h3><span>Brian Ford</span></h3>
        <%= image_tag "http://a1.twimg.com/profile_images/1158248467/4529e138-0ba0-42ac-be7b-1529a9edde68_reasonably_small.jpg" %>
        <p><%= link_to "https://brightredglow.com", "https://brightredglow.com/brixen", :rel => "external",:class => "url" %></p>
        <p><%= link_to "@brixen", "http://twitter.com/brixen", :rel => "external", :class => "url" %></p>
      </li>

      <li id="kirk-haines">
        <h2><span>What are fibers? How to use them</span></h2>
        <h3><span>Kirk Haines</span></h3>
        <%= image_tag "http://a3.twimg.com/profile_images/429572621/car-face-20090902_reasonably_small.jpg" %>
        <p><%= link_to "@wyhaines", "http://twitter.com/wyhaines", :rel => "external",:class => "url" %></p>
      </li>

      <li id="unknown">
        <h2><span>State of the Gems: What's EM aware and what's not?</span></h2>
        <h3><span>Interested? <%= mail_to "drnic+emrubyconf@engineyard.com", "Email Dr Nic" %></span></h3>
      </li>

      <li id="em-rack-rails">
        <h2><span>Using EventMachine in Rack, Sinatra and Rails</span></h2>
        <h3><span>Interested? <%= mail_to "drnic+emrubyconf@engineyard.com", "Email Dr Nic" %></span></h3>
      </li>

      <li id="john-nunemaker">
        <h2><span>Using EventMachine in Rack, Sinatra and Rails</span></h2>
        <h3><span>John Nunemaker</span></h3>
        <%= image_tag "https://si3.twimg.com/profile_images/1311958625/558CF401-ACD3-4399-B5A1-EF1DD08129B8_reasonably_small" %>
        <p><%= link_to "http://railstips.org/", "http://railstips.org/", :rel => "external",:class => "url" %></p>
        <p><%= link_to "@jnunemaker", "http://twitter.com/jnunemaker", :rel => "external",:class => "url" %></p>
      </li>

      <li id="kyle-drake">
        <h2><span>What is EM-Synchrony and Sinatra-Synchrony?</span></h2>
        <h3><span>Kyle Drake</span></h3>
        <%= image_tag "http://a2.twimg.com/profile_images/324865114/kyledrake-newprofile_reasonably_small.jpg" %>
        <p><%= link_to "http://kyledrake.net", "http://kyledrake.net", :rel => "external",:class => "url" %></p>
        <p><%= link_to "@kyledrake", "http://twitter.com/kyledrake", :rel => "external",:class => "url" %></p>
      </li>

      <li id="david-troy">
        <h2><span>EventMachine Tutorial</span></h2>
        <h3><span>David Troy</span></h3>
        <%= image_tag "https://si3.twimg.com/profile_images/1210298650/headshot_reasonably_small.png" %>
        <p><%= link_to "http://davetroy.com/", "http://davetroy.com/", :rel => "external",:class => "url" %></p>
        <p><%= link_to "@davetroy", "http://twitter.com/davetroy", :rel => "external",:class => "url" %></p>
      </li>
    </ul>
  </section>
</article>
