<header>
  <hgroup>
    <h1><span>EM RubyConf</span></h1>
    <h2><span>Concurrently with <a href="http://RailsConf.com">RailsConf</a></span></h2>
    <h3><span>In Baltimore, MD</span></span></h3>
    <h4><span>On <time>Thursday May 19, 2011</time></span></h4>
    <h5><span>In <%= link_to "BohConf", "http://bohconf.com", :title => "BohConf | The Official Unconf of RailsConf" %></span></h5>
  </hgroup>

  <section id="intro">
    <blockquote>
      <p>
        <b>I don't know how this Event Machine business works.</b>
        What is em-synchrony and sinatra-synchrony?
        Or do I use threads?
        Do I need to write my code differently?
        Can I use Rails?
        Seriously, why do I not even know any of this yet?
     </p>

      <p>I know, let's have <b>EM Ruby Conf</b>!</p>
    </blockquote>

    <h6><span>Bring a friend. They know nothing either.</span></h6>
  </section>
</header>

<article>
  <section id="speakers">
    <h1><span>Speakers</span></h1>

    <p>
      15 minute talks <i>from</i> <time>12:30</time> <i>to</i> <time>3:00pm</time>
   </p>

    <ul>
      <li id="basic-concurrency">
        <h2><span>Lessons in Concurrency: Threading vs Evented</span></h2>
        <h3><span>Interested? <%= mail_to "drnic+emrubyconf@engineyard.com", "Email Dr Nic" %></span></h3>
      </li>

      <li id="nick-seiger">
        <h2><span>JRuby Concurrency</span></h2>
        <h3><span>Nick Seiger</span></h3>
        <p><%= link_to "http://nicksieger.com", "http://nicksieger.com", :class => "url" %></p>
        <p><%= link_to "@nicksieger", "http://twitter.com/nicksieger", :class => "url" %></p>
      </li>

      <li id="brian-ford">
        <h2><span>Rubinius Concurrency</span></h2>
        <h3><span>Brian Ford</span></h3>
        <p><%= link_to "http://brightredglow.com", "http://brightredglow.com", :rel => "external",:class => "url" %></p>
        <p><%= link_to "@brixen", "http://twitter.com/brixen", :rel => "external", :class => "url" %></p>
      </li>

      <li id="kirk-haines">
        <h2><span>What are fibers? How to use them</span></h2>
        <h3><span>Kirk Haines</span></h3>
        <p><%= link_to "@wyhaines", "http://twitter.com/wyhaines", :rel => "external",:class => "url" %></p>
      </li>

      <li id="aman-gupta">
        <h2><span>Introduction to EventMachine</span></h2>
        <h3><span>Aman Gupta</span></h3>
        <p><%= link_to "http://github.com/tmm1", "http://github.com/tmm1", :rel => "external",:class => "url" %></p>
        <p><%= link_to "@tmm1", "http://twitter.com/tmm1", :rel => "external",:class => "url" %></p>
      </li>

      <li id="unknown">
        <h2><span>State of the Gems: What's EM aware and what's not?</span></h2>
        <h3><span>Interested? <%= mail_to "drnic+emrubyconf@engineyard.com", "Email Dr Nic" %></span></h3>
      </li>

      <li id="em-rack-rails">
        <h2><span>Using EventMachine in Rack, Sinatra and Rails</span></h2>
        <h3><span>Interested? <%= mail_to "drnic+emrubyconf@engineyard.com", "Email Dr Nic" %></span></h3>
      </li>

      <li id="nick-quaranto">
        <h2><span>EventMachinehine and Testing</span></h2>
        <h3><span>Nick Quaranto</span></h3>
        <p><%= link_to "@qrush", "http://twitter.com/qrush", :rel => "external",:class => "url" %></p>
      </li>

      <li id="kyle-drake">
        <h2><span>What is EM-Synchrony and Sinatra-Synchrony?</span></h2>
        <h3><span>Kyle Drake</span></h3>
        <p><%= link_to "http://kyledrake.net", "http://kyledrake.net", :rel => "external",:class => "url" %></p>
        <p><%= link_to "@kyledrake", "http://twitter.com/kyledrake", :rel => "external",:class => "url" %></p>
      </li>

      <li id="ilya-grigorik">
        <h2><span>Running EM Web Apps in Production</span></h2>
        <h3><span>Ilya Grigorik</span></h3>
        <p><%= link_to "@igrigorik", "http://twitter.com/igrigorik", :rel => "external",:class => "url" %></p>
      </li>
    </ul>
  </section>
</article>
